<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="sidebar" id="sidebar" class="shadow-sm">
        <div class="sidebar-header p-4 border-bottom text-center">
            <h4 class="text-hot m-0 fw-bold"><i class="bi bi-shield-lock-fill"></i> ADMIN</h4>
        </div>
        
        <ul class="list-unstyled mt-3">
            <li>
                <a th:href="@{/admin}" th:classappend="${requestURI == '/admin' or requestURI == '/admin/' ? 'active' : ''}" class="nav-link">
                    <i class="bi bi-speedometer2 me-3"></i>Tổng Quan
                </a>
            </li>
            <li>
                <a sec:authorize="hasAuthority('XEM_TRUYEN')" th:href="@{/admin/quan-ly-truyen}" th:classappend="${#strings.startsWith(requestURI, '/admin/quan-ly-truyen') ? 'active' : ''}" class="nav-link">
                    <i class="bi bi-book me-3"></i>Quản Lý Truyện
                </a>
            </li>
            <li>
                <a sec:authorize="hasAuthority('XEM_CHUONG')" th:href="@{/admin/quan-ly-chuong}" th:classappend="${#strings.startsWith(requestURI, '/admin/quan-ly-chuong') ? 'active' : ''}" class="nav-link">
                    <i class="bi bi-list-ol me-3"></i>Quản Lý Chương
                </a>
            </li>
            <li>
                <a sec:authorize="hasAuthority('XEM_THE_LOAI')" th:href="@{/admin/quan-ly-the-loai}" th:classappend="${#strings.startsWith(requestURI, '/admin/quan-ly-the-loai') ? 'active' : ''}" class="nav-link">
                    <i class="bi bi-tags me-3"></i>Quản Lý Thể Loại
                </a>
            </li>
            <li>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/quan-ly-tai-khoan}" th:classappend="${#strings.startsWith(requestURI, '/admin/quan-ly-tai-khoan') ? 'active' : ''}" class="nav-link">
                    <i class="bi bi-people me-3"></i>Quản Lý Tài Khoản
                </a>
            </li>
            <li>
                <a sec:authorize="hasAuthority('XEM_VAI_TRO')" th:href="@{/admin/quan-ly-vai-tro}" th:classappend="${#strings.startsWith(requestURI, '/admin/quan-ly-vai-tro') ? 'active' : ''}" class="nav-link">
                    <i class="bi bi-shield-check me-3"></i>Quản Lý Vai Trò
                </a>
            </li>
            <li>
                <a sec:authorize="hasAuthority('XEM_DANH_GIA')" th:href="@{/admin/quan-ly-danh-gia-va-binh-luan}" th:classappend="${#strings.startsWith(requestURI, '/admin/quan-ly-danh-gia-va-binh-luan') ? 'active' : ''}" class="nav-link">
                    <i class="bi bi-star me-3"></i>Quản Lý Tương Tác
                </a>
            </li>
            
            <li class="mt-5 border-top pt-3">
                <a th:href="@{/dang-xuat}" class="nav-link text-danger">
                    <i class="bi bi-box-arrow-left me-3"></i>Đăng Xuất
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>